<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<h3>mis productos</h3>

<table class ="table" style="max-width: 500px" >
    <thead>
        <tr>
            <th>nombre</th>
            <th>precio</th>
            <th>imagen</th>
        </tr>
    </thead>
    <tbody>
        <% productos.forEach(function(producto) { %>
        <tr>
                <td><strong><%= producto.nombre %></strong></td>           
                <td><strong><%= producto.precio %></strong></td>           
                <td><img src=<%= producto.imagen %> alt= <%= producto.imagen %>></td>
        </tr>
        <% }); %>
    </tbody>
</table>