<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/productos/">Agregar producto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/productos/listar/">Productos <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/carrito/listar">Mi Carrito</a>
        <a class="nav-item nav-link" href="#">Agregar producto</a>
        <a class="nav-item nav-link" href="#">Editar producto</a>
        <a class="nav-item nav-link" href="#">Editar carrito</a>
      </div>
    </div>
  </nav>